@import "tailwindcss";
@plugin "daisyui";

/* globals.css */
body {
  background-color: #F5EFE6;
  color: #222;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2 {
  font-family: "Luxurious Roman", sans-serif;
}

p {
  font-family: "Quicksand", sans-serif;
}

/* Optional: nice scrollbars */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  border-radius: 4px;
}

/* Keyframes for smooth continuous scroll */
@keyframes marquee {
  0% {
    transform: translateX(100%);
    /* Start from right */
  }

  100% {
    transform: translateX(-100%);
    /* End at left */
  }
}

.animate-marquee {
  display: flex;
  /* Align texts side by side */
  animation: marquee 15s linear infinite;
  /* Duration for scrolling speed */
  white-space: nowrap;
  /* Prevent text from wrapping */
}

*{border: 1px solid red;}